<% layout('layouts/boilerplate') -%>
<form action="/questions/<%= ques.id %>/edit?_method=PUT" method="POST">
    <label for="title">Question Title</label>
    <br>
    <textarea name="title" id="title"><%= ques.title %> </textarea>
    <br>
    <label for="description">Description</label>
    <br>
    <textarea name="description" id="description"><%= ques.description %> </textarea>
    <br>
    <button>Submit</button>
</form>