<% layout('layouts/boilerplate') %>
<div class="container justify-content-center align-items-center m-3 vw-100">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-4 offset-xl-4">
            <div class="card">
                <h3 class="card-title">Enter the question</h3>
                <div class="card-text">
                    <form class="row g-3 needs-validation" action="/questions" method="POST" novalidate>
                        <div class="mt-3">
                            <label for="title" class="form-label">Question Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>