<% layout('layouts/boilerplate') -%>
<form action="/questions" method="POST">
    <label for="question">Question : </label>
    <br>
    <textarea name="question" id="question"></textarea>
    <br>
    <button>Submit</button>
</form>