<% layout('layouts/boilerplate') -%>
<form action="/questions" method="POST">
    <label for="title">Question Title</label>
    <br>
    <textarea name="title" id="title"></textarea>
    <br>
    <label for="description">Description</label>
    <br>
    <textarea name="description" id="description"></textarea>
    <br>
    <button>Submit</button>
</form>