<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/questions/list.css">
<h1>All questions</h1>
<div class="card">
    <div class="card-body">
        <% for(question of questions){ %>
            <div class="card">
                <div class="card-body row">
                    <div class="col-11">
                        <a href="/questions/<%= question._id %>/answers"><%= question.title %></a>
                    </div>
                    <div class="col-1">
                        <% if(user && user._id.equals(question.author)){ %>
                            <form action="/questions/<%= question._id %>/edit" method="GET">
                                <button class="btn btn-sm"><i class="fas fa-edit"></i></button>
                            </form>
                            <form action="/questions/<%= question.id %>/delete?_method=delete" method="POST">
                                <button class="btn btn-sm"><i class="fas fa-trash"></i></button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>